*.Rproj
.Rproj.user
.Rhistory
.RData
.Rbuildignore
.Rprofile
.httr-oauth
.DS_Store
docs/
/doc/
/Meta/

/paper_jss/
/paper_jss/jss.pdf
/paper_jss/article.log
/paper_jss/article-concordance.tex
/paper_jss/article-visualiztaion.pdf
ga.R
